---
type: photo-post
date: 2021-03-17, 02:06
tags: national, geographic, apod
originalUrl: orion.png
mediumUrl: orion-medium.png
thumbnailUrl: orion-thumbnail.png
exif: "
 Camera: Canon EOS 1100D\n
 Lens: Lens: EF 85mm f/2\n
 Shot: Shot: 85mm f/2 1/100 ISO800\n"
musiclist:
 - The Killers
---
<p>A good photo.</p>
