{{#> text-post
  title="ProgressCar"
  date="2021-03-10, 23:31"
  tags="codepen"
  musiclist="
    Metallica - Harvester of Sorrow
  "
}}
<p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="pavlovsk" data-slug-hash="YzppeYX" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="ProgressCar with Custom CSS Properties">
  <span>See the Pen <a href="https://codepen.io/pavlovsk/pen/YzppeYX">
  ProgressCar with Custom CSS Properties</a> by Mustafa Enes (<a href="https://codepen.io/pavlovsk">@pavlovsk</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
{{/text-post}}
