{{#> photo-post
  title="Another Photo"
  date="2021-03-17, 02:06"
  tags="national, geographic, apod"
  originalUrl="orion.png"
  mediumUrl="orion-medium.png"
  thumbnailUrl="orion-thumbnail.png"
  exif="
    Camera: Canon EOS 1100D
    Lens: EF 85mm f/2
    Shot: 85mm f/2 1/100 ISO800
  "
}}
  <p>A good photo.</p>
{{/photo-post}}
