{{#> photo-post
  title="A Photo"
  date="2021-03-17, 00:51"
  tags="helsinki"
  originalUrl="crescent-hdr.png"
  mediumUrl="crescent-hdr-medium.png"
  thumbnailUrl="crescent-hdr-thumbnail.png"
  exif="
    Camera: Canon EOS 1100D
    Lens: EF 50mm f/1.8 II
    Shot: 50mm f/3.2 1/100 ISO400
  "
}}
  {{seeMore}}
  <p>A photo that I took while walking in the streets of Ullanlinna, Helsinki.</p>
{{/photo-post}}
