---
type: text-post
date: 2021-04-11, 01:38
tags: kendim, düşünceler, sarhoş
musiclist:
 - Teoman - Hepsi Buymuş
 - Sneaker Pimps - Tesco Suicide
 - Sneaker Pimps - Spin Spin Sugar
---
<p>Vim'de blog yazıyorum:</p>
<div><img src="/turkce/hepsi-buymus/vim.png" alt="Vim'de blog yazdığımın ekran görüntüsü."></div>
<p>Ne zamandır ikinci yazımı yazmak istiyordum. Şimdi ikna ettim kendimi ama aklıma bir şey gelmiyor.</p>
<p>Şunlardan bahsetmek istemiştim: Daft Punk'ın ayrılması, Teoman'ın yeni albüm çıkarması. Sanki hayatım müzik endeskliymiş gibi (değil (ama öyle gibi görünüyor (yine de değil))).</p>
{{seeMore}}
<p>İlk yazı şu andan bakıldığında aynı zamanda son yazı, yani hem ilk hem de son yazı, yani ilk ve son yazı. İlk ve son yazıyı yazdığım sırada bu blog tek bir HTML dosyasından ibaretti. HTML kodu düzenleyerek yeni div'ler p'ler ekleyerek ilk yazıyı yazmıştım. CSS yoktu. Aradan geçen zamanda bu HTML dosyasını bir statik site oluşturucuya çevirdim.</p>
<p>Kendi geçmiş halime zaman yolculuğu yapma fikri üzerinde gereğinden fazla düşünüyorum. Diyorum ki, geçmiş bir zamandaki benlerden birine dönüş yapabilme imkanım olsa, tamamen o ben haline dönüşeceğim için, ve etraftaki her şey de o benin etrafındaki şeylerin aynısı olacağı için, olaylar birebir aynı şekilde seyrederdi ve (bir süre sonra) kendimi yine bu anda bu yazıyı yazarken bulurdum. Yani kendi geçmişime dönüş yapmış olsam ve yine bu ana gelmiş olsam bunun farkında olma imkanım bile olmazdı. Belki bu anı 816'ncı yaşayışım ama farkında değilim (o halde gelecekteki benin 816 defa aynı şeyi denemesine yol açan kafayı istiyorum).</p>
<p>Bu blogu daha iyileştirmeyi düşünüyorum.</p>
<p>Ha unutmadan, bu aralar yine FIFA 2005'e sardım:</p>
<div><img src="/turkce/hepsi-buymus/fifa2005.png" alt="FIFA 2005 kariyer modu ekran görüntüsü"></div>
