---
type: text
date: 2021-06-10, 22:17
tags: memories
musiclist:
 - The Weeknd - In Your Eyes
---
<p>This song from The Weeknd, "In Your Eyes", has had an interesting effect on me, maybe a bit of a nostalgic, but somehow a tickling, problematic feeling, if that makes sense at all. It's hard to explain at first, so bear with me until I figure out how to put it.</p>
{{seeMore}}
<p>When I heard it the first time, it didn't mean much. The second time, I started remembering. I hadn't understood yet what I was remembering -because the feelings come to me before the actual memories that created those feelings- but I knew it wasn't the kind of memory that I'd been used to recall often. Well, I'm not exactly proud of my memory, anyway. It had finally struck me on the third time, <em>then</em> I realized why it gave me this mixture of feelings, most prominently, a half-baked kind of pain. I believe certain songs have this exact effect on people, making them feel uncomfortable all of a sudden, giving a certain memory a personality, and later, potentially, driving people obsessed about it.</p>
<p>It was this time when we used to attend to classes at Nikos Karelias (Later they changed the name, for obvious reasons. I mean, tobacco company owner's name for a school?) back in 2017 in Kalamata. I know, such a memory, right? But everybody has to have some -utterly cheesy- memories from high school, and here's one of mine.</p>
<p>5 months of summer, and the rest is mild, the area had its rural charm with the vast olive gardens starting just around the outskirts of suburbs, mostly a certain, familiar type of middle class people exchanging some bucks with the ingredients of a decent and usual dinner in a small but useful market near the city hall. And it had a pleasantly ordinary seashore. There, if you tried hard enough, you could get the taste of salt from the wind. Mostly an indifferent place compared to other coastal cities of the country.<p>
<p>I had to walk back and forth between my home and the school everyday, as they weren't too far apart. When I occasionally took the main road, just for a change, I used to see groups of seasonal workers being carried over to the gardens in so-so trucks, that had been used for the last 2 centuries, of garden owners. And the gardens looked at least a ten thousand years old. What different story could anyone ever tell about them anyway? They were just a bunch of ten or eleven or twelve thousand year old olive gardens. Well, I guess I also liked the olives. Everybody liked the olives, no doubt about it.</p>
