{{#> text-post
  date="2021-05-18, 02:41"
  tags="kendim, düşünceler"
  musiclist="
    Boards of Canada - Music Has the Right to Children (album)
    Boards of Canada Random 35 Tracks Full Tape
    Underworld - The Hump
  "
}}
  <p>İşte tam bu andaydım. Düşündüm. Evimde kendime düşünmek için bir alan ayırmıştım ve orada uzanmış düşünüyordum.</p>
  <p>Bazen Zindan Adası filmi aklıma geliyor.</p>
  <p>Birliktelikten güçlük doğar.</p>
  <p>Öykünmeler, öyle ya da böyle sanmalar ve sanılmalar. Bekleni.</p>
  <p>Tembel bi adam olduğumu fırsat buldukça dile getirmek hoşuma gidiyor. Altı üstü bi doğrama tahtasını yağlamak, tahtaya masaj çekmek filan bana göre değil, ben tembel biriyim. Arada bi, kullandıktan sonra falan, yıkamaya okeyim yalnız.</p>
  <p>Müzik zevkim gittikçe soyut olandan yana tavır alıyor. Beni karşısına almış. Müzik zevkimle yüzleşiyorum.</p>
  <p>Birliktelik. Güçsüzlükten doğan ama güçlüklere evrilen. Sadece düşüncesi bile o kadar güçlü güçlükler tanıtıyor, tanımlıyor ve öyle güçsüzlük tanıları koyuyor ki. İradesiz, serbest, sarhoş gönüllülerin hayat bağını çözer.</p>
  <p>Birlikteliksizlik güçten doğar.
  <p>Waiting for a cup of sexy hentai superstar.</p>
{{/text-post}}
